<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <link href="http://cdn.jsdelivr.net/webjars/bootstrap/3.3.6/css/bootstrap.min.css"
          th:href="@{/webjars/bootstrap/3.3.6/css/bootstrap.min.css}"
          rel="stylesheet" media="screen"/>

    <link href="../static/css/app.css" th:href="@{css/app.css}" rel="stylesheet" media="screen"/>
    <title>HS Cards List</title>
</head>
<body>

<div class="panel panel-default">
    <div class="panel-heading">HS Cards</div>

    <table class="table">
        <tr>
            <th>Card name</th>
            <th>Card img</th>
        </tr>
        <tbody>
        <tr th:each="card : ${allCards}">
            <td><a th:href="@{'/carddetails'(id=${card.cardId})}" th:text="${card.name}"></a></td>
            <td th:text="${card.img}"></td>
        </tr>
        </tbody>
    </table>
</div>

</body>
</html>